[submodule "riscv-binutils"]
	path = riscv-binutils
	url = git://sourceware.org/git/binutils-gdb.git
	branch = master
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = git://gcc.gnu.org/git/gcc.git
	branch = master
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://sourceware.org/git/glibc.git
	branch = master
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = ../riscv-dejagnu.git
	branch = riscv-dejagnu-1.6
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = git://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = git://sourceware.org/git/binutils-gdb.git
	branch = master
[submodule "qemu"]
	path = qemu
	url = https://git.qemu.org/git/qemu.git
